body {
  font-family: Arial;
  text-align: center;
  background: #0f172a;
  color: white;
}

#players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  width: 120px;
}

.card.dead {
  opacity: 0.4;
}

button {
  margin-top: 5px;
  padding: 6px;
  border: none;
  border-radius: 6px;
  background: #3b82f6;
  color: white;
}

button.selected {
  background: #22c55e;
  transform: scale(0.95);
}